<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" />
    <link rel="icon" type="image/png" href="{{ url_for('static', filename='images/favicon.png') }}" />
    <title>Accord - All in one.</title>
  </head>
  <body class="bg-[#0f2034] min-h-screen">
    <main>
      {% include "partials/menu.html" %}
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          <div class="flash-container">
            {% for category, message in messages %}
              <div class="flash {{ category }}">{{ message }}</div>
            {% endfor %}
          </div>
        {% endif %}
      {% endwith %}

      {% block content %}{% endblock %}
    </main>
  </body>
</html>
